<h1>Agular</h1>
<!-- <app-users (parentComponent)="parentComponent($event)" ></app-users> -->

<!-- passing data to child component
<app-users [hero]="data"></app-users> -->

<!-- <app-header></app-header> 
<app-footer></app-footer> -->

<!--<h1>Two way binding</h1>
<input type="text"  (keyup)="getVal($event.target.value)"/> 





<h1>Getting the value of input box on screen after pressing button</h1>
<input type="text" #box />
<button (click)="getVal(box.value)">Get Value</button>
<h2> {{currentValue}}</h2> 





<h1>Property Binding in Angular</h1>
<input type="text" [disabled]="disabledBox" [value]="name" />
<br><br>
<input type="text" disabled={{disabledBox}} value={{name}} />
<br><br>
<button (click)="enableBox()">Enable TextBox</button> 





// If Condition in Angular Eg:1
<h1 *ngIf="show else elseBlock">If block</h1>
<ng-template #elseBlock><h1>else block</h1></ng-template> 





// If Condition in Angular Eg:2
<ng-template [ngIf]="show=='red'"]>
    <h1>This is red</h1>
</ng-template>
<ng-template [ngIf]="show=='green'">
    <h1 >This is green</h1>
</ng-template>
<ng-template [ngIf]="show=='blue'">
    <h1>This is Blue</h1>
</ng-template>  -->





<!-- [ngSwitch] cases in Angular
<div [ngSwitch]="color">
    <h1 style="color: red;" *ngSwitchCase="'red'">This is red Color</h1>
    <h1 style="color: green;" *ngSwitchCase="'green'">This is green Color</h1>
    <h1 style="color: yellow;" *ngSwitchCase="'yellow'">This is yellow Color</h1>
    <h1 style="color: pink;" *ngSwitchCase="'pink'">This is pink Color</h1>

</div> -->





<!-- //*ngFor for array
<h1 *ngFor="let item of arr">{{item}}</h1> -->

<!-- //ngFor for array of object
<h1 *ngFor="let item of data">{{item.name}}- {{item.age}} </h1> -->




<!-- ngFor for array of object in table format
<table border="5px">
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>

    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
    </tr>
</table> -->





<!-- 
<form #simpleForm="ngForm" (ngSubmit)="getUserValue(simpleForm.value)">
    <input type="text" ngModel placeholder="User Name" name="username"><br><br>
    <input type="text" ngModel placeholder="Age" name="age"><br><br>
    <input type="text" ngModel placeholder="Address" name="address"><br><br>
<button>Get Value</button>
</form>





<h1>Style Binding in Angular</h1>
<h1 style="color: green;">Header 1</h1>
<h1 [style.color]="'red'">Header 1</h1>
<h1 [style.color]="err?'red':'green'">Dynamic style</h1>
<Button (click)="updateColor()">Update Color</Button> -->


<!-- 

<h3>Adding Bootstrap to Angular</h3>
<p>
    <ngb-alert [dismissible]="false">
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p> -->




<!-- Material UI

<button mat-button color="warn">Warn</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<mat-slider min="1" max="100"></mat-slider> -->


<!-- Pipe in Angular -->
<!-- <h1>{{name | uppercase}}</h1>
<h1>{{today | date}}</h1>
<h1>{{today | date:'fullDate'}}</h1>
<h1>{{val | currency:'USD' }}</h1> -->



<!-- <h1>Custom directive in Angular</h1>
<h2>Normal Heading</h2>
<h2 appCustomStyle>Custom Heading</h2> -->



<!-- <h1>Services in Angular</h1>
<p>{{name}}</p> -->





<!-- <h2>API call in Angular with API data</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>User Id</th>
    </tr>
    <tr *ngFor="let item of data">
        <th>{{item.id}}</th>
        <th>{{item.title}}</th>
        <th>{{item.userId}}</th>
    </tr>
</table>  -->



<!-- Group module routing -->
<!-- <ul>
    <li><a routerLink="login">login</a></li>
    <li><a routerLink="signup">Signup</a></li>
</ul>

<ul>
    <li><a routerLink="admin/login">Admin login</a></li>
    <li><a routerLink="admin/list">Admin List</a></li>
</ul>
<router-outlet></router-outlet> -->


<!-- <h1>Lazy Loading</h1>
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
    </li>
    <li>
        <a routerLink="admin/list">list</a>
    </li>
</ul>
<router-outlet></router-outlet> -->



<!-- Lazy Loading comonent in Angular
<h1>Lazy Loading in Angular</h1>
<button (click)="loadAdmin()">Load Admin List</button>
<button  (click)="loadUser()">Load User List</button> -->




<!-- Template Driven Forms in Angular
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <input type="text" name="email" placeholder="Email" ngModel><br><br>
    <input type="password" name="password" placeholder="Password" ngModel><br><br>
    <boutton type="submit">Login</button>
</form>  -->



<!-- <h1>Angular Reactive form Validation</h1>
<div class="col-sm-6">
<form [fromGroup]="loginForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input fromControlName="email" type="email" class="form-control" name="email" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input fromControlName="password" type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->


<!-- 
<h1> form in Angular with validations</h1>
<div class="col-sm-6">
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input required type="email" class="form-control" name="useremail" #email="ngModel" ngModel aria-describedby="emailHelp"
            placeholder="Enter email">
        <span *ngIf="email.invalid && email.touched" class="error">Email filed cannot be empty</span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input required #password="ngModel" type="password" class="form-control" name="password" ngModel placeholder="Password">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div> -->



<!-- <h1>Prefilled Angular form</h1>
<form #userForm="ngForm">
<input type="text" name="email" placeholder="Email" [ngModel]="userData.email"> <br><br>
<input type="text" name="password" placeholder="password" [ngModel]="userData.password"> <br><br>
<input type="text" name="address" placeholder="address" [ngModel]="userData.address"> <br><br>
<input type="text" name="mobile" placeholder="mobile" [ngModel]="userData.phone"> <br><br>
<button>Submit</button>
</form> -->


<h1>Angular Reactive Form</h1>
<form [formGroup]="loginForm" (ngSubmit)="result()">
    <input type="text" name="email" placeholder="Email" formControlName="email"><br><br>
    <input type="password" name="password" placeholder="Password" formControlName="password"><br><br>
    <button type="submit">Submit</button>
</form>